<div class="container">
    <p>
        I teach computer science courses at seneca college. Mussaddiqur Rahman completed Advanced C++ course with me during winter-2019 semester. The course covers templates, STL libraries, algorithms, containers, function objects, lambda expressions, smart pointers, multi-threading and multi-thread classes and many more OOD topics.
He completed all labs and the final project and achieved a grade of ‘A’ in my course. He exhibited a good understanding of the subject material. He has demonstrated the ability to work under pressure and deliver good quality code. He has excellent technical skills in OOD, software testing and debugging, problem solving and logical thinking, in addition to great soft skills.
I am confident he will be a great asset to any software development, integration or testing team.
I wish him success with his future endeavors.
    </p>
</div>