<footer style="color:white; background-color:#232b2b">
    <section id="lab_social_icon_footer">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <div class="text-center center-block">
                <a href="https://www.facebook.com/ItzSinsation">
                    <i id="social-fb" class="fa fa-facebook-square fa-3x social"></i>
                </a>
                <a href="https://twitter.com/JiYoungSin1">
                    <i id="social-tw" class="fa fa-twitter-square fa-3x social"></i>
                </a>
                <a href="/"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
                <a href="mailto:psin@myseneca.ca"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </section>
    <div class="flex-d" style="text-align: center;">
        Created By: Paul Sin
    </div>
    <div class="footer-copyright text-center">© 2020 Web322:
        <a href="www.OliveShopping.herokuapp.com">www.OliveShopping.herokuapp.com</a>
    </div>
</footer>