<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0e1111">
    <a class="h2 navbar-brand" href="/" style="color:orange">OliveShopping</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="border border-white navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-direction:row-reverse;">
        <div class="d-flex justify-content-end">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/">Home<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/User/registration">Sign Ups<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/User/login">Login<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/User/dashboard">DashBoard<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/User/logout">Logout<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/User/employeeLogin">EMP-Login<span class="sr-only">(current)</span></a></li>
                <li class="nav-item active"><a class="nav-link" style="color:orange" href="/User/profile">Profile<span class="sr-only">(current)</span></a></li>
            </ul>
        </div>
    </div>
</nav>