<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#0e1111">
    <a class="h2 navbar-brand" href="/" style="color:white">OliveShopping</a>
    <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="border border-white navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-direction:row-reverse;">
        <div class="d-flex justify-content-end">
            <div class="container pr-1">
                <a class="nav-item nav-link navbar-color-toggler" href="/">Home<span class="sr-only">(current)</span></a>
            </div>
            <div class="container pr-1">
                <a class="nav-item nav-link navbar-color-toggler" href="/User/userDashboard">Products<span class="sr-only">(current)</span></a>
            </div>
            <div class="container pr-1">
                <a class="nav-item nav-link navbar-color-toggler" href="/Registration/login">Login<span class="sr-only">(current)</span></a>
            </div>
             <div class="container pr-1">
                <a class="nav-item nav-link navbar-color-toggler" href="/User/Profile">Profile<span class="sr-only">(current)</span></a>
            </div>
            <div class="container col-md-6">
                <a class="nav-link" href="/checkout" style="color:white">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart 
                    <span class="badge">{{session.cart.totalQty}}</span>
                </a>
            </div>
        </div>
    </div>
</nav>
