<div class="container bg-light">
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis veritatis possimus commodi dolores amet enim fugiat sunt repellendus, quasi ut suscipit ea facilis distinctio recusandae accusantium et, corporis consectetur illum.
    </p>
</div>