<div>
    <div class="row justify-content-around">
        <div class="col-md-5 d-flex justify-content-center align-items-center rounded-lg border border-dark bg-light" style="height:50vh;">
            <a href="/Clerk/Upload">Add A New Product</a>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center rounded-lg border border-dark bg-light" style="height:50vh;">
            <a href="/User/userDashboard">View All Products</a>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-around">
        <div class="col-md-5 d-flex justify-content-center align-items-center rounded-lg border border-dark bg-light" style="height:50vh;">
            <a href="/Clerk/edit">Edit/Change Product</a>
        </div>
        <div class="col-md-5 d-flex justify-content-center align-items-center rounded-lg border border-dark bg-light" style="height:50vh;">
            <a href="/">Shop</a>
        </div>
    </div>
</div>