<div class="container">
    <div class="row justify-content-center">
        <div class="bg-white p-4 col-md-6">
            <div class="container center">
                <div class="row mb-3">
                    <div class="col-3"><img class="img-fluid"src="./images/logo.png" alt="My Logo"></div>
                    <div class="col-9 d-flex align-items-end"><h4>Employee Login</h4></div>
                </div>
                <form method="POST" action="/login">
                    <div class="row">
                        <div class="col-md-5"><label for="userName">Username:</label></div>
                        <div class="col-md-7"><input class="border border-secondary" type="text" name="userName" id="userName" placeholder=" Username"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><label for="password">Password:</label></div>
                        <div class="col-md-7"><input class="border border-secondary" type="password" name="password" id="password" placeholder=" At least 6 characters"></div>
                    </div>
                    {{#each errors}}
                        <p style="color:red;">{{msg}}</p>
                    {{/each}}
                    <div class="container col-md-12 mt-3">
                        <div class="row justify-content-end">
                            <button type="submit" class="btn btn-success" value="Sign-In"> Sign In </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
