<div class="container">
    <div class="row justify-content-center">
        <div class="bg-white p-4 col-md-6">
            <div class="container center">
                <div class="row mb-3">
                    <div class="col-3"><img class="img-fluid"src="./images/logo.png" alt="My Logo"></div>
                    <div class="col-9 d-flex align-items-end"><h2>Login</h2></div>
                </div>
                <form method="POST" action="/User/login">
                    <div class="row">
                        <div class="col-md-5"><label for="userName">Username:</label></div>
                        <div class="col-md-7"><input class="border border-secondary" type="text" name="userName" id="userName" placeholder=" Username"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-5"><label for="password">Password:</label></div>
                        <div class="col-md-7"><input class="border border-secondary" type="password" name="password" id="password" placeholder=" At least 6 characters"></div>
                    </div>
                    {{#each errors}}
                        <p style="color:red;">{{msg}}</p>
                    {{/each}}
                    <p style="color:red;">{{errorz}}</p>
                    <div class="container col-md-12 mt-3">
                        <div class="row justify-content-end">
                            <button type="submit" class="p-3 btn btn-primary" value="Sign-In"> Sign In </button>
                        </div>
                    </div>
                    <div>forget your password? <a href="/">Reset Password</a></div>
                    <hr>
                    <div>
                        <div class="row justify-content-center">
                            <div>Don't have an account?</div>
                        </div>
                        <div class="row justify-content-center">
                            <a href="/User/registration">Register for FREE!
                                {{!-- <button class="p-3 btn btn-primary" value="regizster for FREE!"> register for FREE! </button> --}}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
