<div class="view">
    <div class="bg-white lightBorder containier col-4-5">
        <div class="container center">
            <div><img src="./images/smallerLogo.png" alt="My Logo"></div>
            <form method="POST" action="/login">
                <legend class="heading">Sign-In</legend>
                <label for="text">E-mail Address</label><br>
                <input class="textSizing" type="text" name="email" id="email" placeholder="JohnDoe@gmail.com"><br>
                <label for="password">Password</label><br>
                <input class="textSizing" type="password" name="password" id="password" placeholder="At least 6 characters"><br>
                <i class="lightText">Passwords must consist of at least 6 characters.</i>
                &nbsp;&nbsp;<a href="/">Need Help?</a><br>
                {{#each errors}}
                    <p style="color:red;">{{msg}}</p>
                {{/each}}
                <div class="center"><input class="skinnyButton" type="submit" name="login" value="Login"></div>
                <hr>
            </form>
            <br>New to Olive Shopping?<br>
            <div>
                <a class="center" href="/registration"><button class="buttonGrey">Create Your Account</button></a>
                <div style="text-align: justify; text-justify: inter-word;">By creating an account, you agree to OliveShoppings's <a>Conditions of Use</a> and <a>Privacy Notice</a></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
