<div class="row bg-light p-3">
    <h1>{{ Greetings }}</h1>
</div>
<div class="row bg-light">
    <div class="container col-md-3 border border-light mb-5">
        <div class="mt-5 container d-flex justify-content-center">
            <img class="img-fluid rounded-circle" src="../uploads/{{user.ProfilePic}}" alt="Display picture">
        </div>
        <form method="POST" action="/User/UpdateProfile" enctype="multipart/form-data">
            <label for="img">Select image:</label>
            <input type="file" id="img" name="img" accept="image/*" required="">
            <div class="container col-md-12 mt-3 mb-3">
                <div class="row justify-content-end">
                    <button type="submit" class="btn btn-primary">Upload Picture</button>
                </div>
            </div>
        </form>
        <p class="text-center text-danger">{{ message }}</p>
    </div>
    <div class="container col-md-6 pb-5  pt-1">
        <div>
            <div class="container mt-5 ">
                <h2>Profile</h2>
                <form class="container mt-3" method="POST" action="/">
                    <div class="justify-content-center">
                        <div class="row">
                            <div class="col-md-6"><label for="fname">First Name:</label></div>
                            <div class="col-md-6"><input class="border border-secondary" type="text" name="fname" id="fname" placeholder=" First Name"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-6"><label for="lname">Last Name:</label></div>
                            <div class="col-md-6"><input class="border border-secondary" type="text" name="lname" id="lname" placeholder=" Last Name"></div>
                        </div>
                         <div class="row">
                            <div class="col-md-6"><label for="email">Email:</label></div>
                            <div class="col-md-6"><input class="border border-secondary" type="text" name="email" id="email" placeholder=" JohnDoe@gmail.com"></div>
                        </div>
                    </div>
                    {{#each errors}}
                        <p style="color:red;">{{msg}}</p>
                    {{/each}}
                    <div class="container col-md-12 mt-3">
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-success" value="Sign-In"> Update Profile </button>
                        </div>
                    </div>
                </form> 
            </div>
        </div>
    </div>
    <div class="d-flex flex-column flex-grow-1 mt-5 mb-5 col-md-3 d-flex justify-content-center">
        Ad Space
        <img class="img-fluid" src="images/cocacola.jpg" alt="ads">
    </div>
</div>
<div class="row bg-light d-flex justify-content-end p-3">
    <div class="justify-content-between">
        <div class="btn btn-success">
            <a class="nav-link" style="color:black" href="/User/logout">Logout<span class="sr-only">(current)</span></a>
        </div>
    </div>
</div>
