<div class="container">
    <div class="row justify-content-center">
        <div class="bg-white p-5 col-md-7 lightBorder">
            <div class="container">
                <div class="row">
                    <img class="col-sm-3 img-fluid"src="./images/logo.png" alt="My Logo">
                    <h2 style="display:flex;align-items:flex-end">Create Account</h2>
                </div>
                <form class="container mt-3" method="POST" action="/User/registration">
                        <div class="row justify-content-between">
                            <div>
                                <label for="fname"> First Name : </label>
                                <input class="border border-secondary" type="text" name="fname" id="fname" placeholder=" First Name">
                            </div>
                            <div>
                                <label for="lname"> Last Name : </label>
                                <input class="border border-secondary" type="text" name="lname" id="lname" placeholder=" Last Name">
                            </div>
                            <div>
                                <label for="password"> Password &ensp;: </label>
                                <input class="border border-secondary" type="password" name="password" id="password" placeholder=" At least 6 characters">
                            </div>
                            <div>
                                <label for="PasswordAgain"> Password &ensp;: </label>
                                <input class="border border-secondary" type="password" name="PasswordAgain" id="PasswordAgain" placeholder=" At least 6 characters">
                            </div>
                            <div>
                                <label for="text"> Email &ensp;&emsp;&emsp;: </label>
                                <input class="border border-secondary" type="text" name="email" id="email" placeholder=" JohnDoe@gmail.com">
                            </div>
                            <div class="container m-3">
                                <div class="row justify-content-center mb-3">
                                    <i class="lightText">Passwords must consist of at least 6 characters.</i>
                                </div>
                            </div>
                        </div>
                    {{#each errors}}
                        <p style="color:red;">{{msg}}</p>
                    {{/each}}
                    <div class="container">
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-success" value="Create your account">Create your account</button>
                        </div>
                    </div>
                    <br><hr>
                    By creating an account, you agree to OliveShoppings's <a>Conditions of Use</a> and <a>Privacy Notice</a>
                    <div class="mb-5">Already have an account? <a href="./login">Sign in</a></div>
                </form>
            </div>
        </div>
    </div>
</div>