{{!-- <h1 style="color:white">Welcome {{ firstname }} {{lastname}}</h1> --}}
<div class="row">
    <div class="col-2">
        <div><a class="text-white" href="/">&#9776; Categories</a></div>
        <div><a class="text-white" href="/">&#x1F457; Womans</a></div>
        <div><a class="text-white" href="/">&#x1F456; Men</a></div>
        <div><a class="text-white" href="/">&#x1F4DE; Phones</a></div>
        <div><a class="text-white" href="/">&#x1f4bb; Computer</a></div>
        <div><a class="text-white" href="/">&#x231a; Jewelry</a></div>
        <div><a class="text-white" href="/">&#x1F436; Home</a></div>
        <div><a class="text-white" href="/">&#x1F45E; Bags</a></div>
        <div><a class="text-white" href="/">&#x1f6bc; Toys</a></div>
        <div><a class="text-white" href="/">&#x1f487; Beauty</a></div>        
    </div>
    <div class="col-8 d-flex justify-content-center">
        <div class="container text-white">
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
            <div class="row border border-white ">
                <div class="col-md-3 p-2">
                    <img class="img-fluid" src="https://picsum.photos/200" alt="aPiicture">
                </div>
                <div class="col-md-9 p-3">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta iste, impedit itaque repellendus omnis molestiae delectus! Laboriosam ducimus corrupti eum ea facilis reprehenderit beatae nobis sapiente eveniet atque! Accusantium, tempore?
                </div>
            </div>
        </div>
    </div>
    <div class="container col-2">
        <div class="row justify-content-center">
            <div class="container col-3">
                <img class="img-fluid rounded-circle" src="./images/profilePic.png" alt="User Display picture">
            </div>
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <p class="text-white">Welcome to OliveShopping</p>
            </div>
            <div class="row justify-content-center">
                <button class="btn btn-warning">join</button>
                <button class="btn btn-light">Sign in</button>
            </div>
        </div>
    </div>
</div>
