<div class="row bg-light">
    <div class="col-4 p-5">
        <img class="w-100 img-rounded" src="https://picsum.photos/200/300" alt="Desired Product" style="width:200px;height:300px">
    </div>
    <div class="col-8 p-5 d-flex flex-column">
        <div class="flex-grow-1">
            <h3>TITLE OF PRODUCT</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Facilis at provident non quasi magnam quibusdam, mollitia
                rem explicabo voluptatibus eius incidunt architecto assumenda 
                voluptate quos cum quaerat exercitationem aliquam saepe!
            </p>
            <h5>
                Rating
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </h5>
        </div>
        <div>
            {{!-- <a href="/add-to-cart/{{this._id}}" class="btn btn-success" role="button" value="">Add to Cart</a> --}}
            <a href="#" class="btn btn-success float-right" role="button" value="">Add to Cart</a>
            <a href="#" class="mr-3 btn btn-secondary float-right" role="button" value="">Go Back</a>
        </div>
    </div>
</div>
