<div class="row bg-light">
    <h3>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur perspiciatis ipsam eum, itaque id neque numquam, fugiat eligendi voluptatibus quaerat excepturi repudiandae nostrum necessitatibus iusto! Nisi error aliquid explicabo omnis.</h3>
</div>