<div class="container">
    <div class="row justify-content-center">
        <div class="bg-white p-4 col-md-6">
            <div class="container center">
                <img class="mb-4" src="./images/logo.png" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
                <form method="POST" action="/Registration/login">
                    <label for="userName" class="sr-only">Username:</label>
                    <input type="text" id="userName" class="form-control" placeholder="User Name"  name="userName" required autofocus>
                    <label for="inputPassword" class="sr-only">Password:</label>
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password"required>
                    {{#each errors}}
                        <p style="color:red;">{{msg}}</p>
                    {{/each}}
                    <p style="color:red;">{{errorz}}</p>
                    <div class="container col-md-12 mt-3">
                        <div class="row justify-content-end">
                            <button type="submit" class=" btn btn-primary" value="Sign-In"> Sign In </button>
                        </div>
                    </div>
                    <div>forget your password? <a href="/">Reset Password</a></div>
                    <hr>
                    <div>
                        <div class="row justify-content-center">
                            <div>Don't have an account?</div>
                        </div>
                        <div class="row justify-content-center">
                            <a href="/Registration/registration">Register for FREE!
                                {{!-- <button class="p-3 btn btn-primary" value="regizster for FREE!"> register for FREE! </button> --}}
                                {{!-- can make this into a button however the aTag looks clean... debateable  --}}
                            </a>
                        </div>
                    </div>
                    <p class="mt-5 mb-2 text-muted">&copy; Paul Sin</p>
                </form>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
